@charset "utf-8";
/* CSS Document */

	body{background: url(vilibbg.jpg) no-repeat;}
	a:link {
		text-decoration:none;
		text-shadow: 0px 0px 5px#47bed6;
		color: #FFFFFF;
		font: 30px Tahoma, Helvetica, Arial, Sans-Serif;
		text-align: center;
		transition: all .75s ease-in-out;
		-webkit-transition: all .75s ease-in-out;
		-moz-transition: all .75s ease-in-out;
		}
	a:hover {text-shadow: 0px 0px 12px rgba(240,182,34,1);
	color: #FFFFFF;}
	a:visited{color: #FFFFFF;}
	a:focus{
		outline:none;
		text-shadow: 0px 0px 12px rgba(240,182,34,1)}

    #formulario {
	position: static;
	text-align:center;
    top:50%;
    left: 50%;
    }
	
	#container {
	margin-left: auto;
	margin-right: auto;
	width: 850px;
 	}
	
	#header {
	padding-top:100px;
	width: 820px;
	height: 140px;
	background: center url('images/logoLogin.png') no-repeat ;
	}
	
	#username {
	color:#FFF;
	position:relative;
	float:right;
	padding-top:90px;
	padding-right:100px;
	}
	
	#titles {
	color: #FFFFFF;
	text-shadow: 0px 0px 5px#47bed6;
	font: 30px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
    }
	
	.loginbox {
	width: 206px;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
	}
	
	input {
	padding-left: 10px;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:5px;
	color:#cee9f2;
	border: 0px solid rgba(0,0,0,0.5);
  	border-radius: 10px 10px 10px 10px;
  	background: rgba(0,0,0,0.25);
  	box-shadow: 0 1px 3px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	font-family: sans-serif; font-size: 16px; color: #f2f2f2; text-shadow: 0px -1px 0px #334f71;
}

	input::-webkit-input-placeholder  {
    	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
	}
	input:-moz-placeholder {
	    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
	}
	
	input:focus, textarea:focus, select:focus {
	outline:none;
	background-color: rgba(118,18,76,.7);
  	box-shadow: 0 1px 3px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

	
.menu_button {
    border:1px solid #93A98F;
    -wwwebkit-box-shadow:0 1px 0 rgba(255,255,255,0.5);
    -mmmoz-box-shadow:0 1px 0 rgba(255,255,255,0.5);
    display:block;
    display:inline-block;
    border: 0px solid rgba(0, 0, 0, 0.5);
    padding:0;
    text-align:center;
    background:#D2DFC5;
    background:-webkit-gradient(linear, left top, left bottom, from(#D2DFC5), to(#BDD1B4) );
    background:-moz-linear-gradient(-90deg, #D2DFC5, #BDD1B4);
    _background:#D2DFC5;
    _filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#D2DFC5', EndColorStr='#BDD1B4');
    cursor: pointer;
    text-shadow: 0px 0px 5px#47BED6;
    -webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

.menu_button:hover,.menu_button.hover {
    -wwwebkit-box-shadow:0 1px 0 rgba(255,255,255,0.3);
    text-decoration:none;
    background:#E0E9DA;
    background:-webkit-gradient(linear, left top, left bottom, from(#E0E9DA), to(#C2D5B8) );
    background:-moz-linear-gradient(-90deg, #E0E9DA, #C2D5B8);
    _background:#E0E9DA;
    _filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#E0E9DA', EndColorStr='#C2D5B8');
}
.menu_button:active {
    -wwwebkit-box-shadow:0 1px 0 rgba(255,255,255,0.3);
    text-decoration:none;
    background:#A2B598;
    background:-webkit-gradient(linear, left top, left bottom, from(#A2B598), to(#C0C9BA) );
    background:-moz-linear-gradient(-90deg, #A2B598, #C0C9BA);
    _background:#A2B598;
    _filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A2B598', EndColorStr='#C0C9BA');
}

.menu_button:focus{
	outline:none;
	-webkit-box-shadow: 0px 0px 20px rgba(34,221,240,.5);
	-moz-box-shadow: 0px 0px 20px rgba(34,221,240,.5);
	box-shadow:  0px 0px 20px rgba(34,221,240,.5);
}


.blue {
    border-color:#1D4253;
    background:#0088B5;
    background:-webkit-gradient(linear, left top, left bottom, from(#0088B5), to(#005D7C) );
    background:-moz-linear-gradient(-90deg, #0088B5, #005D7C);
    _background:#0088B5;
    _filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#0088B5', EndColorStr='#005D7C');
    color:#FFFFF9 !important;
}
.blue span {
    border-top-color:#00B8D3;
}
.blue:hover, .smbutton-blue.hover {
	text-decoration:none;
    background:#00A4C6;
    background:-webkit-gradient(linear, left top, left bottom, from(#00A4C6), to(#00739A) );
    background:-moz-linear-gradient(-90deg, #00A4C6, #00739A);
    _background:#00A4C6;
    _filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00A4C6', EndColorStr='#00739A');
}
.blue:active, .blue.active {
	text-decoration:none;
    background:#00537A;
    background:-webkit-gradient(linear, left top, left bottom, from(#00537A), to(#0084A6) );
    background:-moz-linear-gradient(-90deg, #00537A, #0084A6);
    _background:#00537A;
    _filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00537A', EndColorStr='#0084A6');
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	text-align:center;
	font-size: 26px;
	padding: .3em 1.5em .32em;
}
.small {
	color: #FFF;
	font-size: 12px;
	padding: .4em 1em .275em;
}
